@import "tailwindcss";

:root {
  --background: #1f1f1e;
  --foreground: #171717;
  --white-text: #ffffff;
  --red-active: #c70e1a;
  --orange-btn: #c7370e;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-nunito: var(--font-nunito);
  --font-mono: var(--font-geist-mono);
  --color-white: var(--white-text);
  --color-red-active: var(--red-active);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #1f1f1e;
    --foreground: #ededed;
  }
}

body {
  background-color: var(--background);
  padding: 10px 100px;
}

.nav-link {
  position: relative;
  display: inline-block;
  padding-bottom: 4px;
}

.nav-link::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 2px;
  border-radius: 10px;
  background-color: var(--red-active);
  transition: width 0.3s ease;
}

.nav-link:hover::after {
  width: 100%;
}

.nav-link-active::after {
  width: 100%;
}
